body, .photon-admin-editor{
  background-color: #212124;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
td{
  border-color: #2D2D2D;
}



#site-main,
#the_admin_editor,
#site-main a,
.mwcommentsmodule .comment-author,
.mwcommentsmodule .comments-template-stylish .comment a{
  color: #C8C8C8;
}
.muted{
  opacity: 0.7;
}

#sidenav,
body.photon-inner #main-content-holder,
.contact-form-template-dream .cft-submit,
.contact-form-template-dream .cft-submit:hover,
.contact-form-template-dream .cft-submit:focus,
#header-cart .cart-small,
.contact-form-template-dream .contact-form,
.btn.btn-default {
    background-color: #0d0d0d;
}

.btn.btn-default{
  color: white;
}

.mwcommentsmodule .captcha-row .mw-ui-col:first-child{
  background-color: white;
}

.mwcommentsmodule .captcha-row{
  background-color: transparent;
  box-shadow: none;
}

#main-content textarea,
#main-content select,
#main-content input[type="text"],
#main-content input[type="password"],
#main-content input[type="datetime"],
#main-content input[type="datetime-local"],
#main-content input[type="date"],
#main-content input[type="month"],
#main-content input[type="time"],
#main-content input[type="week"],
#main-content input[type="number"],
#main-content input[type="email"],
#main-content input[type="url"],
#main-content input[type="search"],
#main-content input[type="tel"],
#main-content input[type="color"],
#main-content .mw-ui-field,
#main-content .form-control{
  background-color: #2D2D2D;
  border-color: transparent;
  color: #C8C8C8;
}

#main-content textarea:focus,
#main-content select:focus,
#main-content input[type="text"]:focus,
#main-content input[type="password"]:focus,
#main-content input[type="datetime"]:focus,
#main-content input[type="datetime-local"]:focus,
#main-content input[type="date"]:focus,
#main-content input[type="month"]:focus,
#main-content input[type="time"]:focus,
#main-content input[type="week"]:focus,
#main-content input[type="number"]:focus,
#main-content input[type="email"]:focus,
#main-content input[type="url"]:focus,
#main-content input[type="search"]:focus,
#main-content input[type="tel"]:focus,
#main-content input[type="color"]:focus,
#main-content .mw-ui-field:focus,
#main-content .form-control:focus{
    box-shadow: inset 0 0 2px #000;
}

#site-main .contact-form-template-dream .contact-form .cft-submit,
#site-main .btn.btn-default,
#site-main .mw-ui-btn, #site-main .mw-ui-btn:hover, #site-main .mw-ui-btn:focus,
#site-main .in-btn{
  background-color: transparent;
  color: #adadad;
  border-color: #adadad;
}
.deactivated:before{
  background: black;
}

.contact-form-template-dream .message-sent{
  border: 1px solid rgba(210, 210, 210, 0.23);
  background:black;
  color: #C8C8C8;
}
.comment-body{
    background: #1f1f1f;
}
 .mwcommentsmodule {
   border-top-color:rgba(153, 153, 153, 0.25);
 }



.module-products-template-columns-productimage strong{
    color: white;
  background-color: #191919;
}
.module-products-template-columns-data{
  background: rgba(13, 13, 13, 0.70);
}

#copyright{
    color: #808080;
}
#header-cart .cart-small{
  background: #303030;
}

#header-cart, .mwcommentsmodule .comments-template-stylish .comment .comment-body {
  color: white;
}

#side-nav-content .mw-social-links a:hover,
#side-nav-content .mw-social-links a:focus{
  background-color: #3B3B3B;
}

#side-nav-content .mw-social-links a{
  background-color: #191919;
}

#portfolio-container{
  background-color:#121212;
}

body .fotorama__caption .fotorama__caption__wrap{
  background-color: black;
  color: white;
}

.portfolio-inner .owl-prev,
.portfolio-inner .owl-next {
  color: rgba(255, 255, 255, 0.4);
}
.portfolio-inner .owl-prev:hover,
.portfolio-inner .owl-next:hover {
  color: white;
}

#portfolio-inner-content{
    background-color: #121212;
    color: #C8C8C8;
}
.portfolio-inner{
  background-color: #212124;
}
.pagination a:hover,
.pagination a:focus,
.pagination a.active{
  background: #000000;
  color: white;
}
.module-posts-template-masonryfull .muted,
.module-posts-template-masonryfull .description,
.module-posts-template-masonryfull .btn.btn-default{
  color:rgba(255, 255, 255, 0.6);
}
#main-navigation li a{
  color: rgba(255, 255, 255, 0.7);
}
#main-navigation li a:hover,
#main-navigation li a:focus{
  background-color: #2D2D2D;
}
#main-navigation li a.active{
     color: white;
     background-color: #2D2D2D;
     padding-left: 8px;
}
#sidenav a, #sidenav{
  color: white;
}
#mobile-menu span{
  background: rgba(255, 255, 255, 0.7);
}

.mw-captcha-image-holder{ border-color: #efecec; }
hr{
  background: rgba(153, 153, 153, 0.25);
}